@model List<Category>

@foreach (var category in Model)
{
    <li class="nav-item">
        <a class="dropdown-item" asp-area="User" asp-controller="Home" asp-action="ProductList" asp-route-productType="@category.Name">@category.Name</a>
    </li>
}