@model string
<div>
    <h3 style="text-align:justify;">
        <font face="Georgia">
            <p>
                "Music expresses that which cannot be put into words and that which cannot remain silent" - Victor Hugo<br />
                We offer instruments with great playing qualities, focusing on items in excellent condition.<br />
                Share, enjoy and let the music play!!!
            </p>
            <br />
            <p>
                As always, we offer you unique range of unusual and exciting acoustic instruments from all over the world. Most of the musical instruments that we sell have had some type of repairs done before they go up for sale. All accordions are thoroughly inspected for quality and refurbished using original parts. Whether you are looking for the old sound or something more modern, you can find your accordion among our professionally refurbished instruments. Here at The Petrof Music, we are passionate about helping each and every one of our customers find the perfect accordion for their individual needs and are always happy to take the time to explain and demonstrate any of the functions of the instruments in our range. Our goal is to bring you quality instruments at affordable prices. Buying an accordion or a violin for example from us is a guaranteed and hassle free experience. We would rather be glad to know that you are happy with your purchase. If at any time you lose confidence in the quality of the instrument and decide within 2 weeks that you are not happy with your purchase or that the instrument does not do what we said it would, please come back and we’ll sort it out. Petrof Music Store is committed to every accordion so that it will thrive for many generations to come. We are happy to ship musical instruments worldwide.
            </p>
            <br />
            <p>
                Why accordion?:
            </p>
            <p>
                Accordion is the only musical instrument that you could play all kind of music with. It is manually crafted. Accordion sound retains sound much longer than any other instrument. Inside it sound is literally breathing. This is a sound that matches very well the string instruments, as well as the colours of the brass instruments. Accordion is instrument that has proven its qualities and is highly demanded by the composers because of that. It demonstrates very interesting and rich palette of sound capacities. In modern music, artists experiment a lot with it and some works of art would surprise the listener, if he or she is not knowledgeable in experimental aesthetics. No matter whether one is a beginner who gets to know the master of musical instruments or is advanced looking for improving and perfecting his or her skills, accordion is suitable for everyone. It is among the musical instruments that creates the highest spirits and the only one you need to caress to make it play.
            </p>
            <br />
            <p>
                Why from us?:
            </p>
            <p>
                Directly from the specialized store. We are professionals! Every accordion we offer is being carefully opened and serviced. We know how to accurately perform the prophylactics of this capricious instrument so that it arrives to you in secure fashion. We accord, clean and fix every possible issue with the instrument, with eye for the detail, while paying special attention to the immaculate work of registers, maximum compression, as well as its optimal cosmetic and acoustic condition. Before you receive your instrument, we refurbish it and make its acoustic qualities stand out for smooth future work and long-term operation. Every instrument we offer is ready for immediate use - it is thoroughly cleaned (disinsectised) and serviced. Of course, if because of whatever reason you are not happy, we accept to perform return of the delivery on the grounds of our policy, within the regulated term.
            </p>
            <p>
                We do not sell cheap Chinese boxes, or highly amortized accordions with damaged technical components and hidden defects, whose faults stand out in the future. In this light, when buying from us, you do not face some risks. You get 100% original dating back to the golden era of accordions that were manufactured with higher quality (they no longer make them) and are significantly more affordable from economic point of view. People buy them even as an investment. Similar supply of new accordions at the market is not possible nowadays in view of price-quality ratio. We offer a rare top commodity that you cannot buy from the neighbourhood shop and perform deliveries around the world, without accruing additional customs duties. We strongly believe that we sell the best weapon and means for unforgettable emotions, because music will save the world!
            </p>
        </font>
    </h3>
</div>